@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,600,300);

@font-face {
  font-family: 'nlicons';
  src:url('../fonts/nlicons.eot');
  src:url('../fonts/nlicons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nlicons.woff') format('woff'),
    url('../fonts/nlicons.ttf') format('truetype'),
    url('../fonts/nlicons.svg#nlicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
  background-color: #DADFE1;
  font-family: 'Open Sans', sans-serif;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #58C246;
}

::selection {
    color:  white; 
    background: #58C246;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 600;
  line-height: 1.5;
}

a {
  color: #58C247;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #58C247;
  text-decoration: underline;
}

.btn:focus,.btn:active {
   outline: none !important;
}

.btn-primary {
  color: #fff;
  background-color: #87D37C;
  border-color: #87D37C;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #58C247;
  border-color: #58C247;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #58C247;
  border-color: #58C247;
}

.btn-default {
  color: #87D37C;
  background-color: #fff;
  border-color: #87D37C;
}

.btn-lg, .btn-group-lg>.btn {
  border-radius: 0px;
}

.navbar-default{
  background-color: #FFFFFF;
  border-bottom: 1px solid #DADFE1;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0px;
  max-width: 1170px;
  margin: 0 auto;
  width: inherit;
}

.navbar-default .navbar-brand {
  font-weight: 700;
}

.navbar-header a{
  color: #777;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 20px;
}

#trigger-overlay2{
  cursor: pointer;
}

.nav li{
  border-left: 1px solid #DADFE1;
  text-transform: uppercase;
  min-width: 50px;
  text-align: center;
  display: inline-block;
}
.nav li:hover {
  background-color: #87D37C;
}

.nav .ln:hover{
  background: #007bb6;
}
.nav .gh:hover{
  background: #4183C4;
}
.nav .tw:hover{
  background: #4099FF;
}
.nav .ig:hover{
  background: #517fa4;
}
.nav .sp:hover{
  background: #81b71a;
}
.nav .db:hover{
  background: #C73B6F;
}


.navbar-default .navbar-nav>li>a:hover{
  color: #FFFFFF;
}

.feature img {
  position: absolute;
  bottom: -500px;
}

.feature{
  background: #FFFFFF url(http://subtlepatterns.com/patterns/tiny_grid.png) 50% 26%;
  background-attachment: fixed;
  min-height: 500px;
  color: #777777;
  margin-top: 50px;
  padding-bottom: 25px;
}
.feature h1{
  font-weight: 700;
  margin-top: 70px;
  color: #87D37C;
}

.aboutme{
  background: #FFFFFF;
  color: #777777;
  margin-top: 50px;
  padding-bottom: 25px;
}
.aboutme h1{
  font-weight: 700;
  margin-top: 70px;
  color: #87D37C;
}
.aboutme img{
  margin: 25px;
}

.aboutme2{
  background: #EDEDED;
  color: #5B5B5B;
  padding-bottom: 25px;
}
.aboutme2 h1{
  font-weight: 700;
  color: #303030;
}
.aboutme2 h4{
  font-weight: 500;
}

.hoverblock{
  position: relative;
  height: 150px;
  text-transform: uppercase;
  line-height: 3em;
  color: #999;
}
.vertical-align{
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
  margin-left: -15px;
}
.vertical-align-middle{
  display: table-cell;
  vertical-align: middle;
}
.hoverblock h5{
  margin: 0px;
}
.hoverblock:hover{
  background-color: #303030;
  color: #FFFFFF;
  border: none;
}

.headline{
  display: table;
  min-height: 300px;
}

.headline2{
  display: table-cell;
  vertical-align: middle;
}

.para1{
  background: #202020;
  text-align: center;
  color: #DADFE1;
}

.para1 p{
  color: #999;
  margin-bottom: 25px;
}

.para2{
  background: url('../img/main.jpg') no-repeat bottom center;
  background-size: contain;
  background-attachment: fixed;
  height: 450px;
  padding-top: 25px;
  text-align: center;
  color: #FFFFFF;
  position: relative
}

.para2 h1{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.para3{
  background: #FFFFFF;
  color: #777777;
}
.para3 h1{
  text-align: center;
}
.featured-videos{
  margin-top: 25px;
  margin-bottom: 25px;
}

.nopadding {
   padding: 0 !important;
}



/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(135, 211, 124, 0.9);
}

/* Overlay closing cross */
.overlay .overlay-close {
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	outline: none;
	z-index: 100;
  background: none;
  color: #FFFFFF;
  font-size: 20px;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
}

.overlay ul li a {
	font-size: 54px;
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #f0f0f0;
}

/* Effects */
body {
	background: #ddd;
}

.movetest {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.movetest.overlay-open {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}

.overlay-contentscale {
	visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
	transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-contentscale.open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}

/***** MODAL PROPERTIES *****/
 .modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    background:transparent;
    border:none;
    outline:none;
}
.modal-content iframe {
    border:none;
    padding:0;
    margin:0;
}
.close {
    color: #FFFFFF;
    text-shadow: none;
    margin:-20px 0 0 0;
}
/***** MEDIA QUERIES *****/
 @media only screen and (max-width: 641px) {
    /***** MODAL PROPERTIES *****/
    .modal-body {
        height:100px;
        padding:0;
        margin: 0;
    }
    .modal-content {
        padding:0;
        margin: 0;
    }
    .modal-dialog {
        position: relative;
        width: auto;
        margin: 15px;
    }
    .close {
        margin:-12px 0 0 0;
    }
}
@media only screen and (min-width: 768px) {
    /***** MODAL PROPERTIES *****/
    .close {
        color: #FFFFFF;
        margin:30px -43px -20px 100px;
    }
}

.cbp-qtrotator {
  position: relative;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.cbp-qtrotator .cbp-qtcontent {
  position: absolute;
  min-height: 200px;
  padding: 5em 0;
  top: 0;
  z-index: 0;
  opacity: 0;
  width: 100%;
}

.no-js .cbp-qtrotator .cbp-qtcontent {
  border-bottom: none;
}

.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
.no-js .cbp-qtrotator .cbp-qtcontent {
  position: relative; 
  z-index: 100;
  pointer-events: auto;
  opacity: 1;
}

.cbp-qtrotator .cbp-qtcontent:before,
.cbp-qtrotator .cbp-qtcontent:after {
  content: " ";
  display: table;
}

.cbp-qtrotator .cbp-qtcontent:after {
  clear: both;
}

.cbp-qtprogress {
  display: none;
}

.cbp-qtrotator blockquote {
  margin: 0;
  padding: 0;
  border: none;
}

.cbp-qtrotator blockquote p {
  font-size: 2em;
  color: #FFFFFF;
  font-weight: 700;
  margin: 0.4em 0 1em;
}

.cbp-qtrotator blockquote footer {
  font-size: 1.4em;
  color: #FFFFFF;
  font-weight: 300;
}

/* Example for media query */
@media screen and (max-width: 30.6em) { 

  .cbp-qtrotator {
    font-size: 70%;
  }

  .cbp-qtrotator img {
    width: 80px;
  }

}




/* Common style */
.col-md-12 figure {
  position: relative;
  float: left;
  overflow: hidden;
  background: #000000;
  text-align: center;
  cursor: pointer;
  margin-top: 50px;
}
.col-md-6 figure, .col-md-4 figure {
  position: relative;
  float: left;
  overflow: hidden;
  background: #000000;
  text-align: center;
  cursor: pointer;
}


.col-md-12 figure img,
.col-md-6 figure img,
.col-md-4 figure img{
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.col-md-12 figure figcaption,
.col-md-6 figure figcaption, 
.col-md-4 figure figcaption{
  padding: 2em;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 700;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.col-md-12 figure figcaption::before,
.col-md-12 figure figcaption::after,
.col-md-6 figure figcaption::before,
.col-md-6 figure figcaption::after,
.col-md-4 figure figcaption::before,
.col-md-4 figure figcaption::after  {
  pointer-events: none;
}

.col-md-12 figure figcaption,
.col-md-12 figure figcaption > a,
.col-md-6 figure figcaption,
.col-md-6 figure figcaption > a,
.col-md-4 figure figcaption,
.col-md-4 figure figcaption > a  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
.col-md-12 figure figcaption > a,
.col-md-6 figure figcaption > a,
.col-md-4 figure figcaption > a  {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.col-md-12 figure h2,
.col-md-6 figure h2,
.col-md-4 figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.col-md-12 figure h2 span,
.col-md-6 figure h2 span,
.col-md-4 figure h2 span {
  font-weight: 800;
}

.col-md-12 figure h2,
.col-md-12 figure p,
.col-md-6 figure h2,
.col-md-6 figure p,
.col-md-4 figure h2,
.col-md-4 figure p {
  margin: 0;
}
.col-md-12 figure p,
.col-md-6 figure p,
.col-md-4 figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/*---------------*/
/***** Sadie *****/
/*---------------*/

figure.effect-sadie figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(135, 211, 124,1) 100%, rgba(135, 211, 124,1) 100%);
  background: linear-gradient(to bottom, rgba(135, 211, 124,1) 100%, rgba(135, 211, 124,1) 100%);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(0,75%,0);
  transform: translate3d(0,75%,0);
}

figure.effect-sadie h2 {
 
  width: 100%;
  color: #FFFFFF;
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
  -webkit-transform: translate3d(0,-50%,0);
  transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  opacity: 0;
  -webkit-transform: translate3d(0,10px,0);
  transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h2 {
  color: #fff;
  -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
  transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
  border-bottom: 5px solid #FFF;
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


.effect-sadie figcaption img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-height: 0px;
  display: inline-block;
  opacity: 1;
}

.caseintro{
  background-color: #FFFFFF;
  margin-top: 50px;
}
.intrologo{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.intrologo img{
  display: inline-block;
}
.intrologo h1{
  font-weight: 700;
  margin-bottom: 0px;
}
.intrologo h3{
  margin-top: 0px;
  font-weight: 300;
}
.introdesc{
  border-top: 1px solid #EDEDED;
  padding-bottom: 25px;
}
.introdesc ul{
  list-style: none;
}
.introdesc .col-md-6{
  padding-left: 0px;
}
.dark-alt{
  background: #EDEDED;
  color: #5B5B5B;
  padding-bottom: 50px;
  padding-top: 25px;
}
.dark-alt .center h1{
  font-weight: 700;
  margin: 0;
}
.dark-alt .center h3{
  margin-top: 0px;
  font-weight: 300;
  margin-bottom: 25px;
}
.light-alt .center p{
  margin-top: 0px;
  margin-bottom: 25px;
}
.dark-alt h4{
  color: #ee3763;
}
.light-alt{
  background: #FFFFFF;
  color: #5B5B5B;
  padding-bottom: 50px;
  padding-top: 25px;
}
.light-alt .center h1, .light-alt .center h2{
  font-weight: 700;
  margin: 0;
}
.light-alt .center h3{
  margin-top: 0px;
  font-weight: 300;
}
.light-alt h4{
  color: #ee3763;
}
.gold{
  color: #ffc600;
}
.white-bg{
  background-color: #FFFFFF;
}
.contactform{
  background-color: #FFFFFF;
  padding-top: 55px;
  min-height: 950px;
}



.spacer{
  padding-top: 15px;
  padding-bottom: 15px;
}

.center{
  text-align: center;
}









/* general style for the form */
.nl-form {
  width: 100%;
  margin: 0.3em auto 0 auto;
  font-size: 4em;
  line-height: 1.5;
}

.nl-form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* normalize the input elements, make them look like everything else */
.nl-form input,
.nl-form select,
.nl-form button {
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
  display: inline-block;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.nl-form input:focus {
  outline: none;
}

/* custom field (drop-down, text element) styling  */
.nl-field {
  display: inline-block;
  position: relative;
}

.nl-field.nl-field-open {
  z-index: 10000;
}

/* the toggle is the visible part in the form */
.nl-field-toggle,
.nl-form input,
.nl-form select  {
  line-height: inherit;
  display: inline-block;
  color: #7b7b7b;
  cursor: pointer;
  border-bottom: 1px dashed #5b5b5b;
}

/* drop-down list / text element */
.nl-field ul {
  position: absolute;
  visibility: hidden;
  background: #87D37C;
  left: -0.5em;
  top: 50%;
  font-size: 80%;
  opacity: 0;
  -webkit-transform: translateY(-40%) scale(0.9);
  -moz-transform: translateY(-40%) scale(0.9);
  transform: translateY(-40%) scale(0.9);
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: visibility 0s 0.3s, opacity 0.3s, transform 0.3s;
}

.nl-field.nl-field-open ul {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1);
  -moz-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
  -webkit-transition: visibility 0s 0s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: visibility 0s 0s, opacity 0.3s, -moz-transform 0.3s;
  transition: visibility 0s 0s, opacity 0.3s, transform 0.3s;
}

.nl-field ul li {
  color: #EAEAEA;
  position: relative;
}

.nl-dd ul li {
  padding: 0 1.5em 0 0.5em;
  cursor: pointer;
  white-space: nowrap;
}

.nl-dd ul li.nl-dd-checked {
  color: #FFFFFF;
}

.no-touch .nl-dd ul li:hover {
  background: rgba(0,0,0,0.05);
}

.no-touch .nl-dd ul li:hover:active {
  color: #FFFFFF;
}

/* icons for some elements */
.nl-dd ul li.nl-dd-checked:before,
.nl-submit:before,
.nl-field-go:before {
  font-family: 'nlicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.nl-dd ul li.nl-dd-checked:before {
  content: "\e000";
  position: absolute;
  right: 1em;
  font-size: 50%;
  line-height: 3;
}

.nl-ti-text ul {
  min-width: 10em;
}

.nl-ti-text ul li.nl-ti-input input {
  width: 100%;
  padding: 0.2em 2em 0.2em 0.5em;
  border-bottom: none;
  color: #fff;
}

.nl-form .nl-field-go {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  cursor: pointer;
  background: rgba(0,0,0,0.1);
  width: 1.8em;
  text-align: center;
  color: transparent;
}

.nl-field-go:before {
  content: "\e001";
  font-size: 75%;
  color: #fff;
  width: 100%;
  line-height: 2.5;
  display: block;
}

/* custom placeholder color */
input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.8);
}

input:active::-webkit-input-placeholder ,
input:focus::-webkit-input-placeholder {
  color: rgba(255,255,255,0.2);
}

input::-moz-placeholder {
  color: rgba(255,255,255,0.8);
}

input:active::-moz-placeholder,
input:focus::-moz-placeholder {
  color: rgba(255,255,255,0.2);
}

input:-ms-input-placeholder {  
  color: rgba(255,255,255,0.8);
}

input:active::-ms-input-placeholder ,
input:focus::-ms-input-placeholder {
  color: rgba(255,255,255,0.2);
}

/* example field below text input */
.nl-ti-text ul li.nl-ti-example {
  font-size: 40%;
  font-style: italic;
  font-weight: 400;
  padding: 0.4em 1em;
  color: rgba(0,0,0,0.2);
  border-top: 1px dashed rgba(255,255,255,0.7);
}

.nl-ti-text ul li.nl-ti-example em {
  color: #fff
}

/* submit button */
.nl-submit-wrap {
  margin-top: 0.4em;
}

.nl-form .nl-submit {
  line-height: 3;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  background: #87D37C;
  color: #fff;
  padding: 0 1em 0 0;
  font-size: 40%;
  font-weight: bold;
  letter-spacing: 3px;
}

.nl-submit:before {
  content: "\e001";
  color: #fff;
  float: left;
  padding: 0 0.7em;
  margin: 0 0.8em 0 0;
  background: #58C246;
}

.no-touch .nl-form .nl-submit:hover,
.no-touch .nl-form .nl-submit:active {
  background: #69B1A9;
}

.no-touch .nl-form .nl-submit:hover:before {
  background: #58a199;
}

/* overlay becomes visible when a field is opened */
.nl-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  z-index: 9999;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s;
  transition: visibility 0s 0.3s, opacity 0.3s;
}

.nl-field.nl-field-open ~ .nl-overlay {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

@media screen and (max-width: 45em) {
  .nl-form {
    font-size: 3em;
  }
}

@media screen and (max-width: 25em) {
  .nl-form {
    font-size: 2em;
  }
}